// footer
footer.footer 
	.wrapper
		.row
			.footer_col
				.footer_title О  Psyhelpacademy
				.footer_text На платформе Psyhelpacademy вы можете изучить две ступени эмоционально-образной терапии,получив официальные сертификаты центра Линде, а также пройтиавторские курсы экспертов школы.
			.footer_col
				.footer_title Полезные ссылки
				ul.footer_list
					li
						a(href="#") Супервизии
					li
						a(href="#") Политика конфеденциальности
					li
						a(href="#") Контакты и реквизиты
			.footer_col.footer_col--3
				.footer_title Последние записи
				.footer_last
					.footer_row
						.footer_content
							a(href="#") МЕЛОЧЬ
							.footer_b
								img(src="img/time.png", alt="time")
								p 07/08/2020
						.footer_count
							a(href="#").footer_img.img-responsive
								img(src="img/preview1.jpg", alt="img")
							.footer_num 0
					.footer_row
						.footer_content
							a(href="#") Энергия рояля
							.footer_b
								img(src="img/time.png", alt="time")
								p 31/07/2020
						.footer_count
							a(href="#").footer_img.img-responsive
								img(src="img/preview2.jpg", alt="img")
							.footer_num 0
		
// /footer