// header
header.header#header
	.wrapper
		.header_container

			// menu
			//- .menu--left .menu--right .menu--top .menu--bottom .menu--drop
			#menu.menu.menu--right
				button#menu-btn.menu_btn.hamburger.hamburger--vortex(type="button")
					span.hamburger-box
						span.hamburger-inner
				nav#mmenu.menu_nav
					ul.menu_list
						li.menu_item
							a(href="#").menu_link Обучение
						li.menu_item
							a(href="#").menu_link Возможности
				.menu_over
			// /menu

// /header