extends blocks/base.jade

block title 
	title EOT

block style-libs
	//- link(rel="stylesheet", href="css/libs/animate.min.css")
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	//- link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	//- link(rel="stylesheet", href="css/libs/slick.css")
	//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")

block content

	.page

		include blocks/header.jade

		// welcome
		section.welcome
			.wrapper.wrapper-in
				.welcome_content
					h1.welcome_title Ищите психолога?
					a(href="#").btn.welcome_btn
						span Регистрация
		// /welcome

		.wrapper.wrapper-in

			// advantages
			section.advantages
				.row
					.advantages_col
						.advantage
							.advantage_icon
								.advantage_img.img-responsive
									img(src="img/icon1.png", alt="advantage")
							p.advantage_text 300 консультантов
					.advantages_col
						.advantage
							.advantage_icon
								.advantage_img.img-responsive
									img(src="img/icon2.png", alt="advantage")
							p.advantage_text ПРОВЕРКА ДИПЛОМОВ
					.advantages_col
						.advantage
							.advantage_icon
								.advantage_img.img-responsive
									img(src="img/icon3.png", alt="advantage")
							p.advantage_text КОНТРОЛЬ КАЧЕСТВА
					.advantages_col
						.advantage
							.advantage_icon
								.advantage_img.img-responsive
									img(src="img/icon4.png", alt="advantage")
							p.advantage_text СИСТЕМА<br>ОТЗЫВОВ
			//	/advantages

			// eot
			section.eot
				h2.eot_title Почему ЭОТ?
				.eot_row
					.eot_content
						p Эмоционально-образная терапия работает на территории бессознательного человека, которое знает ответы на все вопросы, но говорит на языке образов.<br>В этом и кроется секрет эффективности метода: все решения скрыты в бессознательном, а у ЭОТ есть к нему ключи.
						p Поэтому большинство клиентских запросов могут быть разрешены за 2-3 сессии, и нет необходимости ходить к психологу годами. 
						p Быстро, бережно, эффективно.
					.eot_video
						a(href="#").video
							img(src="img/video.jpg", alt="video").video_img
							span.video_play.img-responsive
								img(src="img/play.png", alt="play")
				.eot_b
					p.eot_text После регистрации на сайте вы также можете пройти один из вводных бесплатных курсов академии, чтобы ближе познакомиться с методом.
					a(href="#").btn.eot_btn
						span Регистрация
			//	/eot

		// why
		section.why
			.wrapper.wrapper-in
				//- .why_title.mobile-visible Почему наша платформа?
				.row
					.why_col.why_col--title
						.why_title Почему наша платформа?
					.why_col
						.card
							.card_num
								span 01
							h3.card_title ГАРАНТИЯ КАЧЕСТВА
							p.card_text Каждый терапевт прошел десятки консультаций прежде, чем получил диплом и возможность практиковать. Мы постоянно повышаем качество наших образовательных услуг, а вместе с ним и уровень выпускников.

					.why_col
						.card
							.card_num
								span 02
							h3.card_title СИСТЕМА РЕЙТИНГОВ И ОТЗЫВОВ
							p.card_text Мы внедрили систему отзывов на платформе.И отслеживаем любую реакцию клиентов.Так мы минимизируем случаи, когда терапевт “не в форме”. А вы можете быть уверены, что если что-то пойдет не так, мы всегда будем рядом
					.why_col
						.card
							.card_num
								span 03
							h3.card_title УДОБСТВО  ПОЛЬЗОВАНИЯ
							p.card_text Пройдите простую регистрацию и получите доступ к сообществу эмоционально-образных терапевтов, а также бесплатным курсам платформы, чтобы лучше познакомиться с методом. Чтобы договориться о консультации, после регистрации напишите сообщение терапевту в разделе “Сообщество”.
					.why_col
						.card
							.card_num
								span 04
							h3.card_title СУПЕРВИЗИИ УЧЕНИКОВ
							p.card_text Мы организовали ежемесячные группы супервизии, чтобы терапевты могли обсуждать сложные случаи и консультироваться с коллегами. Это ещё один способ контролировать высокое качество услуг, которые предоставляют наши выпускники
					.why_col
						.card
							.card_num
								span 05
							h3.card_title ДОСТУПНО
							p.card_text В нашем сообществе более 300 терапевтов. Некоторые из них только набирают клиентскую базу. Поэтому готовы провести первую консультацию бесплатно в обмен на отзыв.
		//	/why

		.wrapper.wrapper-in
			.title ЭОТ – самый эффективный и бережный способ решения ваших психологических проблем

		// registration
		section.registration
			.wrapper
				.registration_img
					img(src="img/cat.png", alt="cat")
				h2.registration_title Регистрация
				p.registration_text Начните свое погружение в ЭОТ с бесплатного курса или консультации с терапевтом. Зарегистрируйтесь на сайте и воспользуйтесь возможностями платформы.
				.btn Регистрация
		//	/registration

			
		include blocks/footer.jade

block js-libs
	script(src="js/libs/jquery.min.js")
	//- script(src="js/libs/jquery.fancybox.min.js")
	//- script(src="js/libs/slick.min.js")
	//- script(src="js/libs/jquery.matchHeight-min.js")
	//- script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/wow.min.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	//- script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")