.header {
  padding: 35px 0 20px;
  font-size: 24px;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 10;
  transition: 0.3s;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_b {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.stiky {
    background-color: #fff;
    padding: 10px 0 10px;
  }
  @media (max-width: $break_sm) {
    padding: 10px 0 10px;
  }
}
.logo {
  margin-right: 16px;
  flex-shrink: 0;
  @media (max-width: $break_md) {
    margin-right: 10px;
  }
}
.user {
  width: 100%;
  max-width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -10px;
  &_b {
    width: 100%;
    max-width: 254px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_c {
    width: 100%;
    max-width: 166px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_btn {
    padding: 13px 42px;
    background-color: $red;
    border-radius: 30px;
    color: #fff;
    transition: 0.3s;
    &:hover {
      background-color: #b8396c;
    }
  }
  &_login {
    padding: 10px 0;
    color: #5C5C5C;
    margin-left: 30px;
    @include line-slide-center();
  }
  &_icon {
    padding: 10px;
    margin-left: 10px;
    position: relative;
    flex-shrink: 0;
    &:before {
      content: '';
      display: block;
      background-color: $red;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      transform: scale(0);
      transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    }
    svg {
      display: block;
      position: relative;
      z-index: 2;
      fill: $grey;
      transition: 0.3s;
    }
    &:hover {
      &:before {
        transform: scale(1);
      }
      svg {
        fill: #fff;
      }
      .user_num {
        background-color: #fff;
        color: #000;
      }
    }
  }
  &_num {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $red;
    border-radius: 3px;
    position: absolute;
    top: 3px;
    right: -9px;
    font-size: 16px;
    color: #fff;
    z-index: 2;
    transition: 0.2s;
  }
  @media (max-width: $break_md) {
    width: auto;
    &_b {
      display: none;
    }
  }
}