.registration {
  padding: 200px 0 165px;
  background-image: url(../img/bg2.jpg);
  background-size: cover;
  text-align: center;
  color: #fff;
  .wrapper {
    max-width: 1000px;
  }
  &_img {
    
  }
  &_title {
    font-size: 91px;
    margin-bottom: 20px;
  }
  &_text {
    font-size: 31px;
    line-height: 1.2;
    margin-bottom: 67px;
  }
  @media (max-width: $break_sm) {
    padding: 50px 0 50px;
    background-image: none;
    background-color: $red;
    &_img {
      img {
        max-width: 150px;
      }
    }
    &_title {
      font-size: 40px;
      margin-bottom: 10px;
    }
    &_text {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }
}